{% extends 'base.html' %}

{% block title %}

  Моя компания | Джуманджи

{% endblock %}

{% block content %}

<style>
  body {
    background-color: #F6F2E6;
  }
</style>


  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="{% url 'mycompany' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link" href="{% url 'mycompany_vacancies' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              <p class="alert alert-info" role="alert">
                Информация о компании обновлена
              </p>               

              <form method="POST" action="{% url 'mycompany' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="name">Название компании</label>
                      <input class="form-control" type="text" value="{% if form.name.value != None %}{{ form.name.value }}{% endif %}" name="name" id="name">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="logo">Логотип</label>
                      <div class="row align-items-center">
                        <div class="col-6">
                          <img src="{% if company.logo.value %} {{ company.logo.value.url }} {% endif %}" alt="" style="max-width: 120px;height: auto;">
                        </div>
                        <div class="col-6" style="position: relative;">
                          <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                            <span class="btn btn-info px-4">Загрузить</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" name="logo" id="logo">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="employee_count">Количество человек в компании</label>
                      <input class="form-control" type="text" value="{% if form.employee_count.value != None %}{{ form.employee_count.value }}{% endif %}" name="employee_count" id="employee_count">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="location">География</label>
                      <input class="form-control" type="text" value="{% if form.location.value != None %}{{ form.location.value }}{% endif %}" name="location" id="location">
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="description">Информация о&nbsp;компании</label>
                  <textarea class="form-control" rows="4" name="description" id="description" style="color:#000;">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %} 